body{
	margin-top: 5px;
	color: #676767;
	font-family: 微软雅黑, 宋体, arial;
}

div{
	margin: 0;
}

#footer {
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding: 25px 0;
	text-align: center;
}

#footer a {
	margin: 0 15px;
}

a {
	color: #444;
	text-decoration: none;
}