/* By ZBlogPHP Zbedia [https://app.zblogcn.com/?id=2259] */

body{background:#e9e9e7;}
.wrapper-outer{width:1400px;}
a:hover, .logo a, .xyti h3 .fa, .positionbar .fa, .loginfo .fa, .tip-bar a, .rtpic .xyti, .sidebar .function_t, .pagination a, .pagination .now-page{color:#fa9a00;}
.seach_dian, .nav-menu li a:hover, .nav-menu li.cu a, .nav-menu li ul, .main-tit .tit, .articleCon li a.more, #divCommentPost .button, .rtpic .text:after, .pagination a:hover, .erx-slider .swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active{background:#fa9a00;}
.xyti h3, .positionbar:after, .frend-link h3 span.fl{border-bottom-color:#fa9a00;}
.sidebar .function:before{border-top-color:#fa9a00;}
.sidebar .function_c li:hover{border-left-color:#fa9a00;}
