/* By ZBlogPHP MoreLinks [ https://app.zblogcn.com/?id=1784 ] */

.ml-tlist, .ml-plist{list-style:none;margin:0;padding:0;border:1px transparent solid;border-width:1px 0 0 1px;overflow:hidden;clear:both;}
.ml-tlist li, .ml-plist li{float:left;margin:0;text-align:center;overflow:hidden;border:1px transparent solid;padding:0;border-width:0 1px 1px 0;box-sizing:border-box;}
.ml-tlist li{display:flex;justify-content:center;align-items:center;}
.ml-tlist li a{float:none;width:auto;height:auto;}
.ml-plist{display:flex;flex-wrap:wrap;}
.ml-plist li img{display:block;width:100%;}
.ml-plist li div{margin:3px 0;}
.ml-tlist li a.b{font-weight:bold;}
.ml-tlist1{border-color:#01060a;background:none;}
.ml-tlist1 li{width:20%;height:18px;font-size:12px;border-color:#01060a;}
.ml-tlist2{border-color:#555;background:none;}
.ml-tlist2 li{width:20%;height:38px;font-size:16px;border-color:#555;}
.ml-tlist3{border-color:#86b809;background:#ffffff;}
.ml-tlist3 li{width:20%;height:40px;font-size:16px;border-color:#86b809;}
.ml-plist1{margin-right:-3px;border-color:#ffffff;}
.ml-plist1 li{width:50%;padding:0 3px 3px 0;border-color:#ffffff;}
.ml-plist2{margin-right:-1px;border:0;}
.ml-plist2 li{width:100%;padding:0 1px 1px 0;border:0;}
.ml-plist3{margin-right:-5px;border:0;}
.ml-plist3 li{width:100%;padding:0 5px 5px 0;border:0;}
.mlpslider{position:relative;}
.mlpslider li{position:absolute;top:0;left:0;z-index:0;transition:opacity .3s ease-out;}
.mlpslider li:first-child{position:relative;z-index:1;}
.mlpslider li.b{opacity:0;z-index:0;}
.mlpslider li.f{opacity:1;z-index:1;}
@media only screen and (max-width: 720px) {
	.ml-tlist1 li{width:20%;font-size:12px;}
	.ml-tlist2 li{width:50%;font-size:15px;}
	.ml-tlist3 li{width:25%;font-size:14px;}
	.ml-plist1 li{width:50%;}
	.ml-plist2 li{width:100%;}
	.ml-plist3 li{width:100%;}
	}
@media only screen and (min-width: 721px) {
	}
