.foot{
    line-height: 30px;
    padding-top: 50px;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    color: #888888;
}
.foot ul{
    list-style: none;
}
.foot ul li{
    display: inline;
    margin: 0 1px;
}
.foot a{
    color: #888888;
    margin: 0 10px;
}